/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

@media (min-width: 992px) {
  .dropdown-menu.pricing-demo {
    left: auto;
    right: 0;
  }
}

@media (max-width: 992px) {
  header {
    overflow: hidden;
  }
}
